@charset "ISO-8859-1";
* {
	box-sizing: border-box;
}

body {
	font-family: Arial;
	padding: 10px;
	background: #f1f1f1;
}

.header {
	padding: 30px;
	background: #223;
}

.header .content {
	width: 25%;
	float: left;
}

.header form {
	width: 75%;
	float: right;
	margin-top: 60px;
}

.header button {
	padding: 15px;
	margin-left: -5px;
	border-radius: 0 30px 30px 0;
	background-color: #4caf50;
}

.header h1 {
	font-size: 30px;
	color: #fff;
	margin: 60px 0 0 20px;
	
}

.header h5 {
	color: #99e;
	margin: 0 0 20px 20px;
}

input[type=text] {
	width: 80%;
	padding: 14px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 30px 0 0 30px;
}

.header:after {
	content: "";
	clear: both;
	display: block;
}

.topnav {
	overflow: hidden;
	background-color: #334;
}

.topnav a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 10px 16px;
	margin: 5px 0;
	text-decoration: none;
	border-radius: 20px;
}

.topnav .login {
	float: right;
	margin-right: 30px;
}

.topnav .home {
	margin-left: 200px;
}

.topnav a:hover {
	background-color: #ddd;
	color: rgb(215, 0, 24);
}

.row {
	width: 95%;
	margin: auto;
}

.leftcolumn {
	float: left;
	width: 75%;
}

.rightcolumn {
	float: right;
	width: 25%;
	background-color: #f1f1f1;
	padding-left: 20px;	
}

.fakeimg {
	background: #aaa;
	width: 100%;
	padding: 20px;
}

.card {
	background-color: white;
	padding: 20px;
	margin-top: 20px;
}

.card img {
	height: 200px;
}

.card h2 {
	color: #333333;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

.footer {
	padding: 20px;
	background-color: #223;
	overflow: hidden;
	color: #acac06;
	text-align: center;
}

.ft-pad {
	margin-top: 20px;
	padding: 20px 0;
	background-color: #334;
	width: 100%;
}


.info {
	width: 33.33%;
	float: left;
}

.info p a {
	font-size: 15px;
	color: #444444;
	text-decoration: none;
}

@media screen and (max-width: 800px) {
	.leftcolumn, .rightcolumn {
		width: 100%;
		padding: 0;
	}
	.topnav a {
		width: 100%;
		float: none;
		margin: 5px 0 !important;
	}
	
	.header .content {
		width: 100%;
		float: none;
	}
	.header form {
		width: 100%;
		float: none;
	}
	.search {
		text-align: center;
		margin-bottom: 15px;
	}
	.info {
		width: 100%;
		float: none;
	}
}